<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>なんでも投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong class="display-1">ONE  LIFE  TO  LIVE  !</strong><br>
          <strong class="display-1">LIVE  A  LIFE  YOU  WILL  REMEMBER</strong>
        </h1>
          <hr>
        </div>
        <div class="col-lg-3 btn-lg mx-auto">
            <a><%= link_to "みんな仲良く！！", signup_path, class:"text-light btn btn-lg js-scroll-trigger top-button" %></a>
        </div>
      </div>
    </div>
</header>

<section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Reference</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i fa_icon('camera-retro')></i>
                <i class="far fa-4x fa-gem text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3"><%= link_to "Study", help_path, class:"nav-link js-scroll-trigger" %></h3>
              <p class="text-muted mb-0">プログラミング関連の学習に使えるサービス</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fab fa-4x fa-youtube text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3"><%= link_to "You Tube", contact_path, class:"nav-link js-scroll-trigger" %></h3>
              <p class="text-muted mb-0">業界説明・プログラミング関連の内容を動画でわかりやすく解説</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="far fa-4x fa-newspaper text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3"><%= link_to "Blog", blog_path, class:"nav-link js-scroll-trigger" %></h3>
              <p class="text-muted mb-0">参考ブログ・記事</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fab fa-4x fa-github text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Code</h3>
              <p class="text-muted mb-0">Git Hub</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Investment</h3>
              <p class="text-muted mb-0">趣味・投資</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" >
              <%= image_tag("1.jpg", :class => "img-fluid") %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" >
              <%= image_tag("2.jpg", :class => "img-fluid") %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" >
              <%= image_tag("3.jpg", :class => "img-fluid") %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" >
              <%= image_tag("4.jpg", :class => "img-fluid") %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" >
              <%= image_tag("5.jpg", :class => "img-fluid") %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" >
              <%= image_tag("6.jpg", :class => "img-fluid") %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

<section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Please contact me and I'll get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fab fa-twitter fa-3x mb-3 text-primary sr-contact"></i>
            <p><a href="https://twitter.com/Ryota0961646961">Twitter</a></p>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <i class="fab fa-facebook fa-3x mb-3 text-primary sr-contact"></i>
            <p><a href="https://www.facebook.com/profile.php?id=100026469773103">Facebook</a></p>
          </div>
          <div class="col-lg-4 ml-auto text-primary text-center">
            <i class="fab fa-slack-hash fa-3x mb-3 sr-contact"></i>
            <p><a href="">Slack</a></p>
          </div>
          <div class="col-lg-6 mr-auto text-primary text-center">
            <i class="far fa-envelope fa-3x mb-3 sr-contact"></i>
            <p><%= mail_to "gdgd_rw@icloud.com", "MAIL" %></p>
          </div>
          <div class="col-lg-6 ml-auto text-primary text-center">
            <i class="fab fa-line fa-3x mb-3 sr-contact"></i>
            <p><a href="line://ti/p/@djc9875l">LINE@</a></p>
          </div>
        </div>
    </section>
    
<% end %>
